@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #fff;
  color: #111;
}

main {
  padding: 0 5%;
}



.hero-image {
  width: 100%;
  height: 300px;
  background: url('https://lifeinitaly.com/wp-content/uploads/2024/09/crop.jpg') center/cover no-repeat;
}

.about-columns {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: 60px 0;
}

.column {
  flex: 1;
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

.column:last-child {
  border-right: none;
  padding-left: 20px;
}

.column h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.col {
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-bottom: 3vh; 
}

.p1 {
    padding: 3vh;
    margin: 20px 0;
    margin-bottom: 3vh;
    line-height: 1.5;
    font-size: 1.1rem;
    color: #666;
    text-align: justify;
}

.contact-info {
  background: #111;
  color: white;
  padding: 30px 5%;
  font-size: 0.95rem;
}

.contact-info h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .about-columns {
    flex-direction: column;
    gap: 20px;
  }

  .column {
    border-right: none;
    padding: 0;
  }

  .hero-image {
    height: 200px;
  }

  .contact-info {
    font-size: 0.85rem;
    text-align: center;
  }
}
